.page{
    border: none;
    background: none;
    color: black;
}

.directioner{
    margin-top: 5px;
    border: none;
    background: none;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}